<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109964936379-p9b5hudfqs1e24hp4lsokk4n33pipl5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109964936379-p9b5hudfqs1e24hp4lsokk4n33pipl5o</string>
	<key>API_KEY</key>
	<string>AIzaSyBEyM5fQiZJXu4o5OPkaPAbAqtdwRlwTJs</string>
	<key>GCM_SENDER_ID</key>
	<string>109964936379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eatwhere.eatWhere</string>
	<key>PROJECT_ID</key>
	<string>eat-where-8c167</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-where-8c167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109964936379:ios:4565162f637e8f998b159e</string>
	<key>DATABASE_URL</key>
	<string>https://eat-where-8c167.firebaseio.com</string>
</dict>
</plist>